
* { /* Define a margem e o preenchimento de todos os elementos como zero, é removido todos os espaços que estavam em default */
    margin: 0;
    padding: 0;
}

body { /* É definida a cor de fundo da página */
    background-color: rgb(242, 242, 247);
}

.searchBar { /*Style para a search bar*/
    display: flex;
    margin-bottom: 20px;
}

#searchInput { /* Styles para a barra de pesquisa */
    width: 1000px;
    padding: 10px 0 10px 10px;
    border-radius: 6px;
    margin-right: 25px;
    border: 1px solid #DDD;
    background-color: white;
    font-family: "San Francisco", sans-serif !important;
}

#searchButton { /* Styles para o botão de procurar */
    width: 120px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(36, 138, 61);
    color: rgb(36, 138, 61);
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
}

    #searchButton:hover { /* Styles adicionais para o botão de procurar quando o rato se encontra sobre o botão */
        background-color: rgb(36, 138, 61);
        color: white;
    }

    #searchButton:active { /* Style adicional para o botão de procurar quando se clica no botão */
        transform: translateY(2px);
    }

#createNewButton { /* Styles para o botão de criar um novo aluno */
    width: 120px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #1987ff;
    color: #1987ff;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

    #createNewButton:hover { /* Styles adicionais para o botão de criar quando o rato se encontra sobre o botão */
        background-color: #1987ff;
        color: white;
    }

    #createNewButton:active { /* Style adicional para o botão de criar quando se clica no botão */
        transform: translateY(2px);
    }


table { /* Styles para a tabela */
    border-collapse: collapse;
    width: 1296px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-family: "San Francisco", sans-serif;
    table-layout: auto;
    width: 100%;
}


th, td { /* Styles para o os headers e os dados */
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:nth-child(odd) { /* Styles para as linhas ímpares */
    background-color: #ffffff;
}

tr:nth-child(even) { /* Styles para as linhas pares */
    background-color: rgb(229, 229, 234);
}

.header { /* Styles para o header */
    text-align: center;
    color: white;
    background: rgb(44, 44, 46);
    margin-bottom: 35px;
    text-align: center;
    display: flex;
    width: 100%;
}

.header-students { /* Styles para o header com o texto "Students" */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: "San Francisco", sans-serif !important;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 150%;
    text-decoration: none;
}

#btn-group { /* Styles para o grupo dos botões */
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

#previous { /* Styles para o botão "Previous" */
    width: 80px;
    border: 1px solid #DDD;
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgb(229, 229, 234);
    color: gray;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

    #previous:hover { /* Styles adicionais para o botão de "Previous" quando o rato se encontra sobre o botão */
        background-color: rgb(58, 58, 60);
        color: white;
    }

    #previous:active { /* Style adicional para o botão de "Previous" quando se clica no botão */
        transform: translateY(2px);
    }

#backButton { /* Styles para o botão "Back to List" */
    width: 110px;
    border: 1px solid #DDD;
    padding: 6px 12px;
    border-radius: 6px;
    background: rgb(229, 229, 234);
    color: gray;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 15px 10px 0px 0px;
    text-decoration: none;
    margin-top: 15px;
}

    #backButton:hover { /* Styles adicionais para o botão de "Back to List" quando o rato se encontra sobre o botão */
        background-color: #6c757d;
        color: white;
    }

    #backButton:active { /* Style adicional para o botão de "Back to List" quando se clica no botão */
        transform: translateY(2px);
    }

.page-button { /* Style dos botões para a paginação das páginas */
    width: 30px;
    padding: 10px;
    border: 1px solid #DDD;
    background: white;
    color: #1987ff;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

    .page-button:hover { /* Efeito para os botões da paginação enquanto o rato se encontra sobre os botões*/
        background-color: #1987ff;
        color: white;
    }

    .page-button:active { /* Efeito de click para os botões da paginação */
        transform: translateY(2px);
    }

    .page-button.active-page { /* Style do botão da paginação ativa */
        background-color: #1987ff;
        color: white;
    }

#next { /* Styles para o botão "Next" */
    width: 55px;
    border: 1px solid #DDD;
    padding: 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgb(255, 255, 255);
    color: #1987ff;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

    #next:hover { /* Styles adicionais para o botão de "Next" quando o rato se encontra sobre o botão */
        background-color: #1987ff;
        color: white;
    }

    #next:active { /* Style adicional para o botão de "Next" quando se clica no botão */
        transform: translateY(2px);
    }

.button-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .button-container a {
        margin-right: 10px;
    }

.editButton { /* Styles para o botão de editar */
    width: 70px;
    border: 1px solid #DDD;
    padding: 6px;
    border-radius: 6px;
    background-color: #1987ff;
    color: white;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
}

    .editButton:hover { /* Styles adicionais para o botão de "Edit" quando o rato se encontra sobre o botão */
        background-color: #006fe6;
        color: white;
    }

    .editButton:active { /* Style adicional para o botão de "Edit" quando se clica no botão */
        transform: translateY(2px);
    }

.button.disabled { /* Style adicional para os botões de "Previous" e "Next" quando se encontram desativados */
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

#createButton { /* Styles para o botão de criar */
    width: 70px;
    border: 1px solid #DDD;
    padding: 6px;
    border-radius: 6px;
    background-color: #1987ff;
    color: white;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
}

    #createButton:hover { /* Styles adicionais para o botão de "Create" quando o rato se encontra sobre o botão */
        background-color: #006fe6;
        color: white;
    }

    #createButton:active { /* Style adicional para o botão de "Create" quando se clica no botão */
        transform: translateY(2px);
    }

#deleteButton { /* Styles para o botão de eliminar */
    width: 70px;
    border: 1px solid #DDD;
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(215, 0, 21);
    color: white;
    font-family: "San Francisco", sans-serif !important;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
}

    #deleteButton:hover { /* Styles adicionais para o botão de "Delete" quando o rato se encontra sobre o botão */
        background-color: #b21e35;
        color: white;
    }

    #deleteButton:active { /* Style adicional para o botão de "Delete" quando se clica no botão */
        transform: translateY(2px);
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#indexViewButton {
    background-color: #4CAF50;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #4CAF50; 
    border-radius: 6px;
    margin: 0 5px;
}

#indexEditButton {
    background-color: rgb(255, 204, 0);
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid rgb(255, 204, 0);
    border-radius: 6px;
    margin: 0 5px;
}

#indexDeleteButton {
    background-color: rgb(215, 0, 21);
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid rgb(215, 0, 21);
    border-radius: 6px;
    margin: 0 5px;
}

#footer {
    position:static;
    padding: 0px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
}